/*
Psicología de colores:
Escogí el color azul ya que transmite serenidad, tranquilidad y confianza
El color blanco puro porque aporta perfección y pureza
Y por ultimo el amarillo claro que aporta calidez, luz y tranquilidad 
*/
body {
    background-color: #ffff;
}

/* Div para casa uno */
.method-section {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ffff;
    border-radius: 5px;
    background-color: #fff1A8;
}

/* Encabezado */
.method-header {
    background-color: #82b2f9; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Bloque de código de ejemplo */
pre {
    background-color: #82b2f9;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

/* Estilo para los botones */
button {
    margin-top: 10px;
}